body {
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    color: #4b6e09;
}

.navbar ul {
    list-style-type: none;
    background-color: #4b6e09;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    color: #1e2e04;
}